@use "./media" as *;
.wrapper {
  // max-width: calc(var(--container--width) + var(--container--padding-x) * 2);
  margin-inline: auto;
  max-width: var(--container--width);
  padding-inline: var(--container--padding-x);
}
.button {
  color: rgba(255, 255, 255, 1);
  padding: 16px 24px;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.56);
  background: linear-gradient(99deg, #7a42f4 0%, #4642f4 100%), #fff;
  font-family: "HeliosBlackC", sans-serif;
  font-size: 18px;
  line-height: 145%;
  cursor: pointer;
}
.title {
  font-family: var(--font--family-accent);
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 109%;
  text-transform: uppercase;
  @include respond(tablet) {
    font-size: 28px;
  }
}
.subtitle {
  font-family: var(--font--family-base);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  text-transform: uppercase;
  @include respond(tablet) {
    font-size: 16px;
  }
}
