:root {
  --color-base: rgba(255, 255, 255, 1);
  --background-color: rgba(9, 8, 18, 1);

  --font--family-base: "Plus Jakarta Sans", sans-serif;
  --font--family-accent: "HeliosExtC", sans-serif;
  --font-family-size-base: 18px;

  --container--width: 1660px;
  --container--padding-x: 20px;
}
