@use "../media" as *;
.about {
  overflow-x: hidden;
  position: relative;
  max-height: 100%;

  &-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
    @media (max-width: 570px) {
      display: none;
    }
  }
  &-bg-mobile {
    display: none;
    @media (max-width: 570px) {
      display: block;
      width: 100%;
    }
  }
  &__container {
    z-index: 1;
    padding: 305px 75px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: start;
    height: 100%;
    @media (max-width: 570px) {
      padding: 75px 50px;
    }
    &::before {
      top: 525px;
      left: -270px;
      content: "";
      display: block;
      position: absolute;
      width: 585px;
      height: 6px;
      transform: rotate(90deg);
      border-radius: 62px;
      background: #56ffeb;
      box-shadow: 0 4px 13px 0 rgba(191, 58, 255, 0.44);
      @media (max-width: 570px) {
        top: 340px;
        left: -255px;
        width: 565px;
      }
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__description {
    padding-top: 25px;
    width: 612px;
    font-family: var(--font--family-base);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    position: relative;
    @include respond(tablet) {
      font-size: 16px;
      width: 321px;
    }
    @media (max-width: 570px) {
      padding-top: 50px;
    }
  }
  &__lines {
    position: absolute;
    z-index: -1;
    max-height: 450px;
    left: 25px;
    top: 255px;
    @media (max-width: 570px) {
      top: 75px;
    }
    &-line {
      @media (max-width: 570px) {
        height: 550px;
      }
    }
  }
  &__blures {
    z-index: -1;
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    &-rectangle39879 {
      position: absolute;
      top: 4%;
      z-index: -1;
      object-fit: cover;
      right: 0;
      width: 200px;
      @include respond(laptopL) {
        display: none;
      }
    }
    &-ellipse239 {
      position: absolute;
      right: 0;
      top: 25%;
      transform: rotate(90deg);
      object-fit: cover;
      opacity: 0.5;
      z-index: -1;
      max-width: 859px;
      @media (max-width: 570px) {
        display: none;
      }
    }
    &-ellipse240 {
      position: absolute;
      left: -7%;
      top: -5%;
      transform: rotate(160deg);
      object-fit: cover;
      z-index: -1;
      opacity: 0.36;
      max-width: 789px;
      @media (max-width: 570px) {
        display: none;
      }
    }
    &-ellipse242 {
      display: none;
      position: absolute;
      right: 0%;
      bottom: 0%;
      z-index: -1;
      max-width: 389px;
      @media (max-width: 570px) {
        display: block;
      }
    }
  }
}

.chapter__list {
  width: 450px;
  padding-top: 60px;
  @media (max-width: 570px) {
    width: 350px;
    padding-top: 25px;
  }

  &-items {
    font-family: var(--font--family-accent);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 145%;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    span {
      @media (max-width: 570px) {
        display: none;
      }
    }
  }
}
.chapter-marker {
  position: relative;

  &::after {
    z-index: -1;
    position: absolute;
    top: 14px;
    content: "";
    display: block;
    width: 450px;
    height: 2px;
    background: #fff;
    opacity: 0.4;
    @media (max-width: 570px) {
      width: 350px;
    }
  }
}
