@use "../media" as *;
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  background: rgba(0, 0, 0, 0);
  transition: background 0.8s ease, opacity 0.8s ease;
  &-scroll {
    background: rgba(20, 20, 20, 0.95);
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 110px;
    transition: background 1s ease;
  }
  &-container-bg {
    background: rgba(20, 20, 20, 0.95);
  }
  &-logo {
    z-index: 1000;
  }
  &__menu {
    @include respond(laptop) {
      display: none;
    }
    &-list {
      display: flex;
      align-items: center;
      gap: 45px;
    }
    &-link {
      font-family: var(--font--family-base);
      font-size: 20px;
      font-weight: 500;
      line-height: 140%;
      opacity: 0.7;
      &:hover {
        opacity: 1;
      }
    }
  }
}
.active {
  opacity: 1;
  position: relative;
}
.active::after {
  content: "";
  display: block;
  position: absolute;
  margin-top: 8px;
  width: 30px;
  height: 2px;
  background-color: rgba(0, 219, 222, 1);
}

.mobile__menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;

  visibility: hidden;

  transform: translateX(-100%);

  transition: transform 0.5s ease, visibility 0s 0.5s;
  &.is-open {
    transform: translateX(0);
    visibility: visible;
    transition: transform 0.5s ease, visibility 0s 0s;
  }
  &__open-btn {
    z-index: 1000;
    display: none;
    flex-direction: column;
    align-items: flex-end;
    border: none;
    background: none;

    span {
      background-color: white;
      display: block;
      height: 1px;
      transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
      &:nth-child(1) {
        width: 32px;
      }
      &:nth-child(2) {
        width: 19px;
        margin: 6px 0;
      }
      &:nth-child(3) {
        width: 25px;
      }
    }
    @include respond(laptop) {
      display: flex;
    }
    &.is-active {
      span:nth-child(1) {
        transform: translateY(7px) rotate(45deg);
      }
      span:nth-child(2) {
        opacity: 0;
      }
      span:nth-child(3) {
        width: 32px;
        transform: translateY(-7px) rotate(-45deg);
      }
    }
  }

  &-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #000;
    z-index: -1;
  }

  &__container {
    margin-top: 140px;
  }
  &__nav {
    padding-left: 15px;
    z-index: 1;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    height: calc(var(--app-height) - 150px);
  }
  &-list {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }
  &-link {
    font-family: var(--font--family-base);
    font-size: 20px;
    font-weight: 500;
    line-height: 140%;
    opacity: 0.7;
  }
  &__blures {
    z-index: -1;
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    &-ellipse243 {
      z-index: -1;
      display: none;
      position: absolute;
      right: 0;
      top: 27%;

      object-fit: cover;
      opacity: 0.5;
      z-index: 0;
      max-width: 512px;
      @include respond(bigMobile) {
        display: block;
      }
    }
    &-rectangle30 {
      z-index: -1;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}

.mobile-active {
  opacity: 1;
  position: relative;
}
.mobile-active::after {
  content: "";
  display: block;
  position: absolute;
  margin-top: 8px;
  width: 63px;
  height: 2px;
  background-color: rgba(0, 219, 222, 1);
}
.no-scroll {
  overflow: hidden;
}
