@use "../media" as *;
.hero {
  overflow-x: hidden;
  position: relative;
  // height: 100vh;
  // height: var(--app-height);
  max-height: 100%;
  @media (max-width: 570px) {
    min-height: 785px;
  }
  &-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    object-position: 30% 50%;
    z-index: -1;
  }
  &__container {
    z-index: 1;
    padding: 290px 75px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: start;
    height: 100%;

    @include respond(tablet) {
      padding: 230px 40px;
    }
    &::before {
      top: 510px;
      left: -220px;
      content: "";
      display: block;
      position: absolute;
      width: 475px;
      height: 6px;
      transform: rotate(90deg);
      border-radius: 41px;
      background: #7f5cff;
      box-shadow: 0 0 17px 0 rgba(191, 58, 255, 0.4);
      @include respond(laptop) {
        top: 440px;
        left: -150px;
        width: 340px;
      }
      @include respond(tablet) {
        top: 380px;
        left: -150px;
        width: 345px;
      }
      @include respond(mobile) {
        top: 340px;
        left: -115px;
        width: 260px;
      }
    }
  }
  &__title {
    font-family: var(--font--family-base);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    text-transform: uppercase;
    @include respond(laptop) {
      font-size: 18px;
    }
    @include respond(tablet) {
      font-size: 16px;
    }
  }
  &__description {
    padding-top: 10px;
    width: 753px;
    font-family: var(--font--family-accent);
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    position: relative;
    span {
      display: inline-block;
      vertical-align: -7px;

      @include respond(tablet) {
        position: absolute;
        bottom: 35px;
        left: 203px;
        svg {
          width: 26px;
          height: 26px;
        }
        @include respond(tablet) {
          display: none;
        }
      }
    }
    @include respond(laptop) {
      font-size: 36px;
    }
    @include respond(tablet) {
      padding-top: 16px;
      width: 347px;
      font-size: 26px;
    }
    @include respond(mobile) {
      font-size: 18px;
      width: 300px;
    }
  }
  &__button {
    width: 209px;
    margin-top: 70px;
    @include respond(laptop) {
      margin-top: 20px;
    }
    @include respond(bigMobile) {
      margin-top: 12px;
      padding: 14px 22px;
    }
  }

  &__lines {
    position: absolute;
    z-index: -1;
    max-height: 450px;
    left: -45px;
    top: 275px;
    @include respond(laptop) {
      left: 20px;
      top: 270px;
    }
    @include respond(tablet) {
      left: 20px;
      top: 215px;
    }
    @include respond(mobile) {
      left: 20px;
      top: 215px;
    }

    &-line {
      @include respond(laptop) {
        max-height: 340px;
      }
      @include respond(tablet) {
        max-height: 340px;
      }
      @include respond(mobile) {
        max-height: 260px;
      }
    }
  }

  &__blures {
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    &-ellipse239 {
      position: absolute;
      left: -12%;
      top: 0;
      transform: rotate(34.59deg);
      object-fit: cover;
      opacity: 0.5;
      z-index: 0;
      max-width: 859px;
      @include respond(laptopL) {
        left: -15%;
      }
      @include respond(laptop) {
        left: -24%;
      }
      @include respond(tablet) {
        left: -48%;
      }
      @include respond(bigMobile) {
        max-width: 462px;
        left: -30%;
      }
    }
    &-rectangle30 {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      @include respond(bigMobile) {
        display: none;
      }
    }
    &-ellipse240 {
      position: absolute;
      right: -8%;
      top: 8%;
      transform: rotate(90deg);
      object-fit: cover;
      z-index: 0;
      max-width: 859px;
      @include respond(laptopL) {
        right: -15%;
      }
      @include respond(laptop) {
        right: -20%;
      }
      @include respond(tablet) {
        right: -26%;
      }
      @include respond(bigMobile) {
        max-width: 510px;
        right: -30%;
        top: 27%;
      }
    }
    &-rectangle31 {
      position: absolute;
      bottom: -13%;
      left: 0;
      z-index: 0;
      max-width: 378px;
      @include respond(laptop) {
        bottom: -15%;
        left: -5%;
      }
      @include respond(tablet) {
        bottom: -20%;
        left: -8%;
      }
      @include respond(bigMobile) {
        max-width: 212px;
        bottom: -12%;
        left: -8%;
      }
    }
  }
}
