@use "../variables" as *;
.roadmap {
  overflow: hidden;
  position: relative;
  &__container {
    margin-top: 135px;
    position: relative;
  }
  &__title {
    padding-left: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
    margin-bottom: 95px;
  }
  &__content {
    display: flex;
    flex-direction: column;
  }
  &__item {
    max-width: 500px;
    position: relative;
    z-index: 100;
  }

  .roadmap__item:nth-child(1) {
    margin-left: 11%;
    margin-right: auto;
  }

  .roadmap__item:nth-child(2) {
    margin-top: 92px;
    margin-left: auto;
    margin-right: 12.5%;
  }

  .roadmap__item:nth-child(2) .roadmap__item-title {
    max-width: 280px;
    margin-left: 11px;
  }

  .roadmap__item:nth-child(2) .roadmap__item-point {
    margin-left: 43px;
    padding-left: 0;
  }

  .roadmap__item:nth-child(2) .roadmap__item-point::before {
    left: -30px;
  }

  .roadmap__item:nth-child(2) .roadmap__item-point::after {
    left: -26px;
  }

  .roadmap__item:nth-child(2) .roadmap__item__sidelist-item {
    padding-left: 35px;
  }

  .roadmap__item:nth-child(2) .roadmap__morebtn {
    margin-left: 110px;
  }

  .roadmap__item:nth-child(3) {
    margin-top: 31px;
    margin-right: auto;
    margin-left: 9.5%;
  }

  .roadmap__item:nth-child(4) {
    margin-left: auto;
    margin-right: 4%;
    margin-top: 235px;
    max-width: 515px;
  }

  .roadmap__item:nth-child(4) .roadmap__item-title {
    margin-bottom: 25px;
  }

  .roadmap__item-title {
    font-family: var(--font--family-base);
    font-weight: 700;
    font-size: 22px;
    line-height: 140%;
    margin-bottom: 22px;
  }

  .roadmap__item-list {
    font-family: var(--font--family-base);
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.18px;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
    padding: 0;
  }

  .roadmap__item-point {
    position: relative;
    padding-left: 38px;
    letter-spacing: -0.09px;
  }

  .roadmap__item-point::before {
    content: "";
    position: absolute;
    left: 7px;
    top: 5px;
    width: 15px;
    height: 15px;
    border: 0.4px solid #ffffff;
    transform: rotate(45deg);
    opacity: 0.8;
  }

  .roadmap__item-point::after {
    content: "";
    position: absolute;
    left: 11px;
    top: 9px;
    width: 7px;
    height: 7px;
    background-color: #ffffff;
    transform: rotate(45deg);
    opacity: 0.2;
  }

  .roadmap__item__sidelist-item {
    position: relative;
    padding-left: 28px;

    font-size: 16px;
    opacity: 0.9;
    letter-spacing: 0.41px;
  }

  .roadmap__item__sidelist-item::before {
    content: "";
    position: absolute;
    left: 1px;
    top: 11px;
    height: 3px;
    width: 2px;
    background-color: rgb(255, 255, 255);
  }

  .roadmap__morebtn {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.45em;
    display: flex;
    align-items: center;
    gap: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
    color: white;
    margin-left: 127px;
    margin-top: 22px;
    transition: opacity 0.25s ease;
  }

  .roadmap__morebtn:hover {
    opacity: 0.8;
  }

  .roadmap__morebtn-icon {
    width: 10px;
    height: 10px;
    border-right: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    transform: rotate(45deg);
    margin-top: -4px;
  }

  &__circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }

  &__flashlight-1 {
    position: absolute;
    width: 250px;
    height: 250px;
    top: 12%;
    left: 50%;
    transform: translateX(-107%);
    pointer-events: none;
    animation: flashlightGlow 4s infinite ease-in-out;

    .c1 {
      width: 50px;
      height: 50px;
      background: radial-gradient(circle at 30% 30%, #ffdeff, #ff97ff);
      z-index: 20;
      filter: brightness(1.2) contrast(1.3);
      animation: corePulse 2s infinite ease-in-out,
        brightnessWave 3s infinite ease-in-out;
    }

    .c2 {
      width: 70px;
      height: 70px;
      background: #ff97ff;
      border: 2px solid #ffdeff;
      z-index: 19;
      filter: brightness(1.2) contrast(1.3);
      animation: middlePulse 2.5s infinite ease-in-out,
        glowShiftPurple 4s infinite alternate;
    }

    .c3 {
      width: 90px;
      height: 90px;
      background: #ea6bff;
      z-index: 18;
      animation: outerPulse 3s infinite ease-in-out;

      &::before {
        content: "";
        position: absolute;
        border: 2px solid #ffdeff;
        mask: conic-gradient(
          from 0deg,
          transparent 0deg,
          #ffdeff 50deg,
          transparent 160deg,
          transparent 360deg
        );
        z-index: 18;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        animation: ringRotate 8s infinite linear;
        transform-origin: center;
      }
    }

    .c4 {
      width: 110px;
      height: 110px;
      background: rgba(130, 52, 255, 0.8);
      z-index: 17;
      animation: energySurge 5s infinite ease-in-out;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: linear-gradient(#802eff, #ff8aff);
        transform: rotate(258deg);
        mask: radial-gradient(
            circle,
            transparent 52px,
            black 53px,
            black 55px,
            transparent 56px
          ),
          conic-gradient(
            from 0deg,
            rgba(0, 0, 0, 0) 0deg,
            rgba(0, 0, 0, 0.4) 30deg,
            rgba(0, 0, 0, 0.6) 120deg,
            rgba(0, 0, 0, 0.8) 160deg,
            rgba(0, 0, 0, 1) 360deg
          );
        mask-composite: intersect;
        -webkit-mask-composite: source-in;
      }
    }

    .c5 {
      width: 130px;
      height: 130px;
      background: rgba(86, 33, 167, 0.5);
      z-index: 16;
      animation: deepPulse 4s infinite ease-in-out;

      &::before {
        content: "";
        position: absolute;
        border: 2px solid #b051ff;
        mask: conic-gradient(
          from 0deg,
          transparent 0deg,
          #b051ff 90deg,
          transparent 260deg,
          transparent 360deg
        );
        z-index: 16;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        animation: outerRingRotate 12s infinite linear;
      }
    }
  }

  &__flashlight-2 {
    position: absolute;
    width: 250px;
    height: 250px;
    top: 35%;
    left: 50%;
    transform: translateX(-14.4%);
    pointer-events: none;
    animation: flashlightGlow 4s infinite ease-in-out;

    .c1 {
      width: 50px;
      height: 50px;
      background: radial-gradient(circle at 30% 30%, #ffdeff, #ffeaff);
      z-index: 20;
      filter: brightness(1.2) contrast(1.3);
      animation: corePulse 2s infinite ease-in-out,
        brightnessWave 3s infinite ease-in-out;
    }

    .c2 {
      width: 70px;
      height: 70px;
      background: #ffa7ff;
      border: 2px solid #ffdeff;
      z-index: 19;
      filter: brightness(1.2) contrast(1.3);
      animation: middlePulse 2.5s infinite ease-in-out,
        glowShiftPurple 4s infinite alternate;
    }

    .c3 {
      width: 90px;
      height: 90px;
      background: #9443b3;
      z-index: 18;
      animation: outerPulse 3s infinite ease-in-out;

      &::before {
        content: "";
        position: absolute;
        border: 2px solid #ffdeff;
        mask: conic-gradient(
          from 0deg,
          transparent 0deg,
          #ffdeff 50deg,
          transparent 160deg,
          transparent 360deg
        );
        z-index: 18;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        animation: ringRotate 8s infinite linear;
        transform-origin: center;
      }
    }

    .c4 {
      width: 110px;
      height: 110px;
      background: rgba(187, 150, 247, 0.5);
      z-index: 17;
      animation: energySurge 5s infinite ease-in-out;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: linear-gradient(#802eff, #ff8aff);
        transform: rotate(258deg);
        mask: radial-gradient(
            circle,
            transparent 52px,
            black 53px,
            black 55px,
            transparent 56px
          ),
          conic-gradient(
            from 0deg,
            rgba(0, 0, 0, 0) 0deg,
            rgba(0, 0, 0, 0.4) 30deg,
            rgba(0, 0, 0, 0.6) 120deg,
            rgba(0, 0, 0, 0.8) 160deg,
            rgba(0, 0, 0, 1) 360deg
          );
        mask-composite: intersect;
        -webkit-mask-composite: source-in;
      }
    }

    .c5 {
      width: 130px;
      height: 130px;
      background: rgba(66, 20, 66, 0.3);
      z-index: 16;
      animation: deepPulse 4s infinite ease-in-out;

      &::before {
        content: "";
        position: absolute;
        border: 2px solid #b051ff;
        mask: conic-gradient(
          from 0deg,
          transparent 0deg,
          #693079 90deg,
          transparent 260deg,
          transparent 360deg
        );
        z-index: 16;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        animation: outerRingRotate 12s infinite linear;
      }
    }
  }

  &__flashlight-3 {
    position: absolute;
    width: 250px;
    height: 250px;
    top: 57%;
    left: 49%;
    transform: translateX(-107%);
    pointer-events: none;
    animation: flashlightGlowGreen 4s infinite ease-in-out;

    .c1 {
      width: 50px;
      height: 50px;
      background: radial-gradient(
        circle at 30% 30%,
        rgb(235, 237, 255),
        rgb(235, 255, 255)
      );
      z-index: 20;
      filter: brightness(1.2) contrast(1.3);
      animation: corePulse 2s infinite ease-in-out,
        brightnessWave 3s infinite ease-in-out;
    }

    .c2 {
      width: 70px;
      height: 70px;
      background: #a1ffff;
      border: 2px solid #97ffff;
      z-index: 19;
      filter: brightness(1.2) contrast(1.3);
      animation: middlePulse 2.5s infinite ease-in-out,
        glowShiftGreen 4s infinite alternate;
    }

    .c3 {
      width: 90px;
      height: 90px;
      background: linear-gradient(320deg, #51ffff, #aeffff);
      z-index: 18;
      animation: outerPulse 3s infinite ease-in-out;

      &::before {
        content: "";
        position: absolute;
        border: 2px solid #d4ffff;
        mask: conic-gradient(
          from 0deg,
          transparent 0deg,
          #d4ffff 50deg,
          transparent 160deg,
          transparent 360deg
        );
        z-index: 19;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        animation: ringRotate 8s infinite linear;
        transform-origin: center;
      }
    }

    .c4 {
      width: 110px;
      height: 110px;
      background: rgba(50, 219, 155, 0.5);
      z-index: 17;
      animation: energySurge 5s infinite ease-in-out;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: linear-gradient(#228058, #7bffff);
        transform: rotate(258deg);
        mask: radial-gradient(
            circle,
            transparent 52px,
            black 53px,
            black 55px,
            transparent 56px
          ),
          conic-gradient(
            from 0deg,
            rgba(0, 0, 0, 0) 0deg,
            rgba(0, 0, 0, 0.4) 30deg,
            rgba(0, 0, 0, 0.6) 120deg,
            rgba(0, 0, 0, 0.8) 160deg,
            rgba(0, 0, 0, 1) 360deg
          );
        mask-composite: intersect;
        -webkit-mask-composite: source-in;
      }
    }

    .c5 {
      width: 130px;
      height: 130px;
      background: rgba(19, 89, 60, 0.4);
      z-index: 16;
      animation: deepPulse 4s infinite ease-in-out;

      &::before {
        content: "";
        position: absolute;
        border: 2px solid #3aa19a;
        mask: conic-gradient(
          from 0deg,
          transparent 0deg,
          #3aa19a 90deg,
          transparent 260deg,
          transparent 360deg
        );
        z-index: 16;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        animation: outerRingRotate 12s infinite linear;
      }
    }
  }

  &__flashlight-4 {
    position: absolute;
    width: 250px;
    height: 250px;
    top: 84%;
    left: 50%;
    transform: translateX(4%);
    pointer-events: none;
    animation: flashlightGlowBlue 4s infinite ease-in-out;

    .c1 {
      width: 50px;
      height: 50px;
      background: #eaffff;
      z-index: 20;
      filter: brightness(1.2) contrast(1.3);
      animation: corePulse 2s infinite ease-in-out,
        brightnessWave 3s infinite ease-in-out;
    }

    .c2 {
      width: 70px;
      height: 70px;
      background: #98ffff;
      border: 2px solid #eeffff;
      z-index: 19;
      filter: brightness(1.2) contrast(1.3);
      animation: middlePulse 2.5s infinite ease-in-out,
        glowShiftBlue 4s infinite alternate;
    }

    .c3 {
      width: 90px;
      height: 90px;
      background: linear-gradient(320deg, #4b93ff, #4196fc);
      z-index: 18;
      animation: outerPulse 3s infinite ease-in-out;

      &::before {
        content: "";
        position: absolute;
        border: 2px solid #d4ffff;
        mask: conic-gradient(
          from 0deg,
          transparent 0deg,
          #81e7ff 50deg,
          transparent 160deg,
          transparent 360deg
        );
        z-index: 19;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        animation: ringRotate 8s infinite linear;
        transform-origin: center;
      }
    }

    .c4 {
      width: 110px;
      height: 110px;
      background: rgba(23, 79, 108, 0.8);
      z-index: 17;
      animation: energySurge 5s infinite ease-in-out;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: linear-gradient(#1b468f, #5a81dc);
        transform: rotate(258deg);
        mask: radial-gradient(
            circle,
            transparent 52px,
            black 53px,
            black 55px,
            transparent 56px
          ),
          conic-gradient(
            from 0deg,
            rgba(0, 0, 0, 0) 0deg,
            rgba(0, 0, 0, 0.4) 30deg,
            rgba(0, 0, 0, 0.6) 120deg,
            rgba(0, 0, 0, 0.8) 160deg,
            rgba(0, 0, 0, 1) 360deg
          );
        mask-composite: intersect;
        -webkit-mask-composite: source-in;
      }
    }

    .c5 {
      width: 130px;
      height: 130px;
      background: rgba(16, 62, 89, 0.4);
      z-index: 16;
      animation: deepPulse 4s infinite ease-in-out;

      &::before {
        content: "";
        position: absolute;
        border: 2px solid #3984d1;
        mask: conic-gradient(
          from 0deg,
          transparent 0deg,
          #3984d1 90deg,
          transparent 260deg,
          transparent 360deg
        );
        z-index: 16;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        animation: outerRingRotate 12s infinite linear;
      }
    }
  }
  &__flashlight {
    &-purple {
      position: absolute;
      z-index: 100;
      top: 50%;
      left: 50%;
      transform: translate(-78%, -164%);
    }
    &-pink {
      position: absolute;
      z-index: 100;
      top: 50%;
      left: 50%;
      transform: translate(-38%, -91%);
    }
    &-green {
      position: absolute;
      z-index: 100;
      top: 50%;
      left: 50%;
      transform: translate(-75%, -20%);
    }
    &-blue {
      position: absolute;
      z-index: 100;
      top: 50%;
      left: 50%;
      transform: translate(-32%, 60%);
    }
  }
  &__blur {
    &-left {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
    &-right {
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
  &__lines {
    position: absolute;
    top: 20%;
    height: 100%;
    width: 100%;
    &-line {
      &-1 {
        position: absolute;
        left: 43%;
      }
      &-2 {
        position: absolute;
        left: 43%;
      }
      &-3 {
        position: absolute;
        left: 40%;
      }
      &-4 {
        position: absolute;
        left: 43%;
      }
      &-5 {
        position: absolute;
        left: 41%;
      }
      &-6 {
        position: absolute;
        top: -3%;
        left: 43%;
      }
    }
  }
}
